<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CycleJS HN</title>
</head>
<body>
    <div id="app"/>
    <noscript>
      <h4 style="font-family: 'DejaVu Sans Mono', 'Helvetica Neue', Helvetica;">
        Sorry, this application requires javascript to function properly.
      </h4>
    </noscript>
</body>
</html>
