body {
    background-color: #fff;
    color: #202020;
    font-family : Roboto, "Helvetica Neue", "DejaVu Sans", "Fira Sans", "Droid Sans",  sans-serif;
    font-size: 14px;
    margin: 0;
    overflow-y: scroll;
}
.main-wrapper {
    background-color: #f3f6fb;
    margin: 8px auto;
    width: 85%;
    min-height: 75px;
    height: 100%;
    @media screen and (min-width: 320px) and (max-width: 480px) {
        width: 100%;
        margin: 0;
    }
}
.header-wrapper {
    color: #c6fc93;
    background-color: #24242d;
    font-size: 13.3333px;
    line-height: 16px;
    overflow: hidden;
    padding: 4px;
    position: relative;
    vertical-align: middle;
    .logo {
        border: 1px #c6fc93 solid;
        margin-right: 5px;
        vertical-align: middle;
        width: 18px;
    }
    a {
        color: #c6fc93;
        text-decoration: none;
        &.active {
            color: #f3f6fb;
        }
    }
    .home {
        font-weight: bold;
        margin-right: .5em;
    }
}
.footer {
    color: #808080;
    height: 25px;
    text-align: center;
    .github {
        color: #606060;
        font-weight: bold;
        text-decoration: none;
    }
}
.main-content {
    border-bottom: 2px #24242d solid;
    width: 100%;
    min-height: 85vh;
    margin: 5px 0;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
    a {
        color: #202020;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:visited {
            color: #606060;
        }
    }
}
.feed-list {
    margin: 10px 0;
    padding-left: 35px;
    padding-right: 15px;
}
.feed-view {
    margin: 10px 0;
    padding: 0 20px;
}
.feed {
    color: #808080;
    font-size: 12px;
    margin: 10px 0;
}
.feed-title {
    font-size: 16px;
}
.feed-domain {
    margin-left: 10px;
}
.feed-author {
    font-weight: bold;
}
.feed-pager {
    margin-left: 35px;
    padding: 20px 0;
    font-weight: bold;
}
.comment-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
   .reply {
        font-size: 12px;
        text-decoration: underline;
    }
   .comment-list {
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.comment {
    padding: 8px 0px;
}
.comment-hide {
    color: #202002;
    cursor: pointer;
    font-size: 13.3333px;
}
.comment-header {
    font-size: 12px;
    color: #808080;
    margin-bottom: 8px;
    &.active {
        background: #c6fc93;
    }
}
.comment-author {
    color: #606060;
    font-weight: bold;
}
.pulse {
    position: absolute;
    top: 5%;
    left: 2%;
    .pulse-bar {
        background-color: #24242d;
        display: inline-block;
        width: 4px;
        height: 20px;
        margin: 0 2px;
        border-radius: 4px;
        animation: pulse 1s ease-in-out infinite;
        &:nth-child(1) {
            animation-delay: 0;
        }
        &:nth-child(2) {
            animation-delay: 0.09s;
        }
        &:nth-child(3) {
            animation-delay: .18s;
        }
        &:nth-child(4) {
            animation-delay: .27s;
        }
    }
}
@keyframes pulse {
    0% {
        background-color: #c6fc93;
        transform: scale(1);
    }
    20% {
        transform: scale(1, 2.2);
    }
    40% {
        transform: scale(1);
    }
}